/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the firmware-template can be built on sample boards already provided
 * by Zephyr.
 */

 / {
	chosen {
		zephyr,settings-partition = &storage_partition;
		zephyr,code-partition = &slot0_partition;
	};
};

/ {
  example_sensor: example-sensor {
    compatible = "zephyr,example-sensor";
    input-gpios = <&gpioc 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
  };

  blink_led: blink-led {
    compatible = "blink-gpio-led";
    led-gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
    blink-period-ms = <1000>;
  };
};

&gpioc {
  status = "okay";
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

        // /* First 2 x 32Kb for the mcuboot bootloader */
		// boot_partition: partition@0 {
		// 	label = "mcuboot";
		// 	reg = <0x00000000 DT_SIZE_K(32)>;
		// 	read-only;
		// };

        /* Second 2 x 32Kb for the Settings Subsystem */
        storage_partition: partition@8000 {
			label = "storage";
			reg = <0x00008000 DT_SIZE_K(32)>;
		};

		/*
		 * Here is 1 64Kb page usebale for whatever you want
		 */

        /* First 3 x 128Kb pages for the application */
		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 DT_SIZE_K(128*3)>;
		};

        /* Second 3 x 128Kb pages for the application update using mcuboot */
		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 DT_SIZE_K(128*3)>;
		};

        /* Last 128Kb page for the application update using mcuboot with scratch partition*/
		scratch_partition: partition@E0000 {
			label = "image-scratch";
			reg = <0x000E0000 DT_SIZE_K(128)>;
		};
	};
};

// &ethernet {
//     status = "okay";
//     pinctrl-0 = <&eth_mdc_pc1
// 	&eth_rxd0_pc4
// 	&eth_rxd1_pc5
// 	&eth_ref_clk_pa1
// 	&eth_mdio_pa2
// 	&eth_col_pa3
// 	&eth_crs_dv_pa7
// 	&eth_tx_en_pg11
// 	&eth_txd0_pg13
// 	&eth_txd1_pg14>;
//     pinctrl-names = "default";
//     phy-mode = "rmii";
//     phy-handle = <&phy0>;
//     max-speed = <100>;

//     mdio {
//         #address-cells = <1>;
//         #size-cells = <0>;
//         compatible = "snps,dwmac-mdio";
//         phy0: ethernet-phy@0 {
//             reg = <0>;
//             compatible = "ethernet-phy-id0007.c0f1"; // LAN8710A PHY ID
//         };
//     };
// };
